<div>Add new country:</div>
<div class="column">
    <mat-form-field>
        <mat-label>ISO_code_name</mat-label>
        <input matInput type="text" [(ngModel)]="newCountry.ISO_code_name">
        <button *ngIf="newCountry.ISO_code_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="newCountry.ISO_code_name=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>local_language_name</mat-label>
        <input matInput type="text" [(ngModel)]="newCountry.local_language_name">
        <button *ngIf="newCountry.local_language_name" matSuffix mat-icon-button aria-label="Clear"
            (click)="newCountry.local_language_name=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>


<button type="button" mat-raised-button (click)="query(newCountry)">Add new country</button>

<div *ngIf="result">
    <div>
        Result:
    </div>
    <div>ISO_code_name: {{result?.ISO_code_name}}</div>
    <div>is_active: {{result?.is_active}}</div>
    <div>local_language_name: {{result?.local_language_name}}</div>
    <div>uid: {{result?.uid}}</div>
    
    <div>loading: {{loading}}</div>
    <div *ngIf="error != ''">error: {{error}}</div>
</div>
