<div>Search Country by it's local language name:</div>
<mat-form-field class="example-form-field">
    <mat-label>local_language_name</mat-label>
    <input matInput type="text" [(ngModel)]="searched_local_language_name">
    <button *ngIf="searched_local_language_name" matSuffix mat-icon-button aria-label="Clear"
        (click)="searched_local_language_name=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button type="button" mat-raised-button (click)="queryByLocalLanguageName(searched_local_language_name)">Search</button>
<div>ISO_code_name: {{results?.ISO_code_name}}</div>
<div>is_active: {{results?.is_active}}</div>
<div>local_language_name: {{results?.local_language_name}}</div>

<div>loading: {{loading}}</div>
<div *ngIf="error != ''">error: {{error}}</div>